<!--
  Generated template for the EmotionRecommendationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left margin-left="10px">
    <button ion-button navPop icon-only>
          <ion-icon name="arrow-back"></ion-icon>     
    </button>
    </ion-buttons>
    <ion-title>Recommendations: {{emotion}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card class="myCard"> 
      <div style="background-color: #fc7a4a; text-align: center; color: white; padding: 10px; font-size: 17px;">Food in your fridge to help with this mood</div>
      <ion-list style="padding-bottom: 10px;">
        <p *ngFor="let food of foodList" style="padding-top: 10px;padding-left: 10px;padding-right: 10px;">{{food}}</p>
      </ion-list>
    </ion-card>
    <ion-card class="myCard" style="margin-top: 20px;"> 
      <div style="background-color: #fc933d; text-align: center; color: white; padding: 10px; font-size: 17px;">Other foods to try</div>
      <ion-list lines="none" style="padding-bottom: 10px;">
        <div *ngFor="let emotionSpecificFood of emotionSpecificFoods" style="padding-top: 10px;padding-left: 10px;padding-right: 10px;">
          {{emotionSpecificFood.Ingredient_Name}}
        </div>
      </ion-list>
    </ion-card>
    <ion-card class="myCard" style="margin-top: 20px;"> 
      <div style="background-color: #ffbe73; text-align: center; color: white; padding: 10px; font-size: 17px;">Recommendations</div>
      <p style="margin: 10px;">When you visit your fridge when {{emotion | lowercase}}, you have taken: </p>
      <ion-list style="padding-bottom: 10px;">
        <p *ngFor="let foodEntry of foodEntriesList" style="padding-top: 10px;padding-left: 10px;padding-right: 10px;">{{foodEntry}}</p>
      </ion-list>
    </ion-card>
  </ion-list>
</ion-content>
