page-login {
    .other-buttons{
		display: block;
        margin: 0 auto;
		--box-shadow:none;
		background-color: transparent; 
		color: black;
		margin-top:30px; 
		font-size: 17px;
		padding: 25px;
	}
}
