page-forgot-password {
    .other-buttons{
		display: block;
        margin: 0 auto;
		--box-shadow:none;
		background-color: transparent; 
		color: white;
		margin-top:40px; 
		font-size: 15px;
        padding: 25px;
        width: 100%;
	}
}
