page-facial-emotion {
    .central{
        vertical-align: 50%;
        margin-top: 150px!important;
        display: block;
        margin: 0 auto;
         align-items: center!important;
         font-size: 18px;
         margin-left: 20px;
         margin-right: 20px;
      }
      .center-bottom{
        display: block;
        margin: 0 auto;
         align-items: center!important;
         margin-top:10px;
         text-align: center;
         margin-left: 20px;
         margin-right: 20px;
         font-size: 16px;
      }

      .main-buttons-1{
        display: block;
        margin: 0 auto;
         align-items: center!important;
         font-family: serif;
         margin-top:30px;
         font-size: 15px;
         padding: 25px;
         background-color: #af003e;
      }
      .main-buttons-2{
        display: block;
        margin: 0 auto;
         align-items: center!important;
         font-family: serif;
         margin-top:20px;
         font-size: 15px;
         padding: 25px;
         background-color: #af003e;
      }

}
