<!--
  Generated template for the FacialEmotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<ion-header>
  <ion-navbar hideBackButton>
     <ion-buttons left margin-left="10px">
     <button ion-button navPop icon-only>
           <ion-icon name="arrow-back"></ion-icon>     
     </button>
     </ion-buttons>
     <ion-title>{{title | uppercase}}</ion-title>
   </ion-navbar>
 </ion-header>

<ion-content padding>
  <p style="text-align: center;" id="three" *ngIf="foodChoices==true">Select an ingredient in your fridge for a meal: </p>
  <ion-list style="background-color: transparent;" *ngIf="foodChoices==true">
    <ion-item *ngFor="let emotionFood of emotionFoods" (click)="getRecipes(emotionFood)" style="background-color: transparent;">
      <ion-label class="ion-text-wrap" style="background-color: transparent;">
          <p style="background-color: transparent;">{{ emotionFood.foodName }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <p style="text-align: center;user-select: all;" class="central" id="one" *ngIf="preliminary==true">Hey! I'm going to scan your face to see what emotion you're feeling now, so that we can recommend a meal to you.</p>
  <p style="text-align: center;user-select: all;" class ="center-bottom" id="two" *ngIf="preliminary==true">Preparing emotion detector...</p>
  <button *ngIf="checkEmotion==true" ion-button round color="white" class="main-buttons-1" (click)="yesEmotion()">YES, I AM FEELING THIS EMOTION</button>
  <button *ngIf="checkEmotion==true" ion-button round color="white" class="main-buttons-2" (click)="noEmotion()">NO, I AM NOT FEELING THIS EMOTION</button>
</ion-content>
