page-fridge {
    .myCard{
        border-radius: 10px;
      }

      .other-buttons{
        display: block;
            margin: 0 auto;
        --box-shadow:none;
        color: black;
        font-size: 17px;
        padding: 25px;
        width: 100%;
      }
}
